@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <style type="text/css">
    </style>
    <title>发布资讯</title>

    <!-- Bootstrap core CSS -->
    
    <link href="/MyContent/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/MyContent/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/MyContent/css/dashboard.css" rel="stylesheet">
   
    <link href="/MyContent/css/admin.css" rel="stylesheet">

    <link href="~/MyContent/css/sidebar-demo.css" rel="stylesheet" />
    
    <style type="text/css">
        body {
            background-color:white;
        }
        .edit-main {
            /*border:1px solid red;*/
            overflow:auto;
        }

        .edit-left {
            float:left;
            width:60%;
        }
            .edit-left fieldset {
                background-color:white;
            }
            
        .edit-right {
            float: left;
            width: 37%;
            margin-left:3%;
            
        }


        .news_top {
            border: 1px solid white;
            padding:2%;
            background-color:white;
        }

        .word1, word2 {
            color:gray;
        }

        .ok {
            margin-left:10px;
            font-size:30px;
            color:green;
            vertical-align:middle;
            display:none;
        }

        .input-group-addon {
            /*background-color: #99ccff;*/
            font:bold;
            /*color:white;*/
        }
    </style>
</head>

<body>

    @RenderPage("../Shared/Navbar.cshtml")

    <div class="container-fluid">
        <div class="row">
           
           @RenderPage("../Shared/SideBar.cshtml")

           
               
            <!-- content 开始 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">发布健康资讯</h1>
                <ol class="breadcrumb">
                    <li><a href="#">管理后台</a></li>
                    <li><a href="#">资讯管理</a></li>
                    <li class="active">发布资讯</li>
                </ol>
                <div class="well">
                    <p>健康资讯，一般发布最近关于健康话题、养生或者医疗最新发展等一些资讯。</p>

                    

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home"></div>
                        <div role="tabpanel" class="tab-pane" id="profile"><img src="{$Think.const.IMG_URL}showNews1.png" width="100%"></div>
                        <div role="tabpanel" class="tab-pane" id="messages"><img src="{$Think.const.IMG_URL}showNotice2.png" width="100%"></div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            <img src="{$Think.const.IMG_URL}showNotice3-1.png" width="100%"><br>
                            <img src="{$Think.const.IMG_URL}showNotice3-2.png" width="100%">
                        </div>
                    </div>


                </div>
               

                <br>
                <h3 style="text-align: center;">开始编辑</h3>

               
                <fieldset style="border: 1px solid #99ccff; border-radius: 6px;">
                    <legend>请输入内容</legend>
                    <div class="edit-main">
                        <div class="edit-left">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">资讯&nbsp;标题&nbsp;</span>
                                <input type="text" class="form-control " placeholder="Title"
                                        id="txtTitle">
                            </div>
                            <br>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" >简单&nbsp;描述&nbsp;</span>
                                <input type="text" class="form-control" placeholder="Description"
                                        id="txtDescription">
                            </div>
                            <br>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">来源(作者)</span>
                                <input type="text" class="form-control " placeholder="From"
                                        id="txtFrom" value="管理员">
                            </div>
                            <br>
                            <br>
                            <div class="input-group input-group-lg">
                                @*<span class="input-group-addon"
                                      style="background-color: #ECF4FA; font-weight: bold;">设置封面</span>*@
                                <button title="点击选择图片上传，设置为封面图片" class="btn-lg btn-info" onclick="setImage()"><span class="glyphicon glyphicon-picture"></span> 设置封面图片</button> <span class="glyphicon glyphicon-ok-sign ok"></span>
                                
                                <input type="file" alt="上传封面图片" class="" placeholder="From" id="uploadImage" onchange="ajaxFileupload()" name="uploadImage"  style="display:none;">
                                <input type="hidden" id="txtImage" />
                            </div>
                            <br>

                            
                        
                        </div>
                        <!--------------------【左右分界线】-------------------------->
                        <div class="edit-right">
                            <div class="news_top">
                                <p style="font-size:25px;" class="top_title wrap-line" title="hotnews.Title"><span class="glyphicon glyphicon-star hot-star"></span> 标题</p>
                                <p class="word1 top_date">2016/04/05 12:10:10</p>


                               
                                <img src="~/MyContent/images/2.jpg" width="100%" class="top_image" />
                                <p class="word1 wrap-line top_description" style="margin-top:4px;margin-bottom:4px;" title="hotnews.Description">描述</p>
                                <br>
                                <p>查看全文</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <textarea rows="30" cols="50" class="ckeditor" id="t1">
                            <span style="font-size: 30px">请在此输入<span style="color: red"> 正文 </span></span>
                        </textarea>
                    </div>

                    <br> <br>

                    <div style="text-align:center;">
                        <button type="button" class="btn-lg btn-warning" style="width:20%;" onclick="submit()">
                            <span class="glyphicon glyphicon-send"></span> 提交
                        </button>
                    </div>
                </fieldset>
    
                <br> <br> <br> <br> <br> <br>


            </div>
            <!-- content 结束-->



        </div>
    </div>

   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/MyContent/js/jquery-2.1.1.min.js"></script>
    <script src="/MyContent/js/bootstrap.min.js"></script>
    <script src="/MyContent/js/docs.min.js"></script>

    <script type="text/javascript" src="/MyContent/ckeditor/ckeditor.js"></script>
    <script src="/MyContent/js/public.js"></script>
    <script src="~/MyContent/js/ajaxfileupload.js"></script>
    <script src="~/MyContent/js/publicNews.js"></script>
    <script src="~/MyContent/js/metisMenu.min.js"></script>
   
    <script type="text/javascript">
        $(function () {
            $('#menu').metisMenu();
            //$("#menu").find("li").eq(1).addClass("active");
            $("#menu").find("li").eq(1).find("a").click();

            
        });

       
    </script>
</body>
</html>
