<div>
    <div class="clearfix">
        <aside class="col-sm-3 col-md-2 sidebar">
            <nav class="navbar  sidebar-nav">
                <ul class="metismenu" id="menu">
                    <li class="active">
                        <a href="/Doc" aria-expanded="true">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            <span class="sidebar-nav-item">个人资料</span>
                        </a>

                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="sidebar-nav-item">用户诊断</span>
                            <span class="glyphicon arrow"></span>
                        </a>
                        <ul aria-expanded="true">
                            <li><a href="/Admin/News">-分析数据</a></li>
                            <li><a href="/Admin/NewsRecord">-发送通知</a></li>
                            <li><a href="#">-设置</a></li>
                        </ul>
                    </li>
                    


                    
                </ul>
            </nav>
            <div id="divShowRunBtn" style="left:5%; bottom: 3%; position: absolute;">

            </div>
            <div id="spanShowTime" style="text-align:center;left:25%;bottom:2%;position:absolute;"></div>
        </aside>

    </div>
</div>
