<div>
    <div class="clearfix">
        <aside class="col-sm-3 col-md-2 sidebar">
            <nav class="navbar  sidebar-nav">
                <ul class="metismenu" id="menu">
                    <li class="active">
                        <a href="/Admin" aria-expanded="true">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            <span class="sidebar-nav-item">工作任务</span>
                        </a>

                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true">
                            <span class="glyphicon glyphicon-blackboard"></span>
                            <span class="sidebar-nav-item">资讯管理</span>
                            <span class="glyphicon arrow"></span>
                        </a>
                        <ul aria-expanded="true">
                            <li><a href="/Admin/News">-发布资讯</a></li>
                            <li><a href="/Admin/NewsRecord">-历史资讯</a></li>
                            <li><a href="#">-设置</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true">
                            <span class="glyphicon glyphicon-heart"></span>
                            <span class="sidebar-nav-item">医生管理</span>
                            <span class="glyphicon arrow"></span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#">-待审核医生</a></li>
                            <li><a href="#">-管理医生</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)" aria-expanded="true">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="sidebar-nav-item">用户管理</span>
                            <span class="glyphicon arrow"></span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#">-全部用户</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)" aria-expanded="true">
                            <span class="glyphicon glyphicon-comment"></span>
                            <span class="sidebar-nav-item">留言建议</span>
                            <span class="glyphicon arrow"></span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/Comment">-最新留言</a></li>
                            <li><a href="/Admin/CommentRecord">-历史留言</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </aside>

    </div>
</div>
