body {
    width:100%;
    /*background-color:yellow;*/
    margin:0 auto;
}

.row {
    margin-left:0px;
    margin-right:0px;
}

.no-wrap-line {
	word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/**************【头部快速搜索边框】*******************/
.content_header {
    /*border-style:solid;
    border-width:3px;
    border-radius:6px;
    border-color:#CCCCCC;*/

   
    margin:25px 10px;


    /*background-color:#eFFFFF;*/
    /*background-color:white;*/
}

/**************【论坛类型最外边的边框】*******************/
.forumType_head {
   margin-top:5px;
   margin-left:1%;
   margin-right:1%;

   /*border:3px solid #cccccc;
   border-radius:6px;*/
   /*20170401修改*/
   /*padding:0 1.3%;*/
}


/**************【论坛类型上下每一行的边框】*******************/
.forumType_head_group {
    /*width:100%;*/
    text-align:center;
}


/**************【论坛类型每一个单独一个的边框】*******************/
.forumType_head  .forumType_head_item {
    /*background-color:blue;*/
    text-align:center;

    padding:28px;

    /*margin:5px;*/

    /*background-color:#CCFFCC;*/

    /*20170311修改*/
    /*background-color:#eFFFFF;*/
    background-color:white;
    
}


/**************【论坛类型每一个单独一个的边框的鼠标hover事件】*******************/
    .forumType_head .forumType_head_item:hover {
        /*background-color:#FFFFCC;*/
        cursor:pointer;
        opacity:0.5;
        /*border-style:none;*/

        /*border-style:solid;
        border-width:1px;
        border-radius:6px;
        border-color:#66CCFF;*/
    }


    /**************【论坛类型每一个单独的一个边框里面的标题样式】*******************/
    .forumType_head .forumType_head_item .forumType_head_item_title {
        font-size:30px;
        color:#0099CC;
    }


     /**************【论坛类型每一个单独的一个边框里面的图片Image样式】*******************/
    .forumType_head .forumType_head_item .forumType_head_item_image {
        width:100%;
       margin:5px;
    }

     /**************【最新发布和推荐的内容】*******************/
.new_recommend_content {
    border-style:solid;
    border-width:3px;
    border-radius:6px;
    border-color:#f9f7f6;
    /*height:1000px;*/
    margin:10px;
    background-color:white;
}
.new_recommend_content_left li {
    display:block;
    line-height:100%;
    padding:1%;
}
.new_recommend_content_left li:hover {
    background-color:#f9f7f6;
}


    /**************【最新发布和推荐的内容 的左边边框】*******************/
    .new_recommend_content .new_recommend_content_left {
        /*border-style:solid;
        border-width:3px;
        border-radius:6px;
        border-color:#66CCFF;*/

        height:100%;

    }

    /**************【最新发布和推荐的内容 的右边边框】*******************/
    .new_recommend_content .new_recommend_content_right {
        border-style:solid;
        border-width:3px;
        border-radius:6px;
       border-color:#66CCFF;

        height:100%;
    }



 /**************【论坛类型的分类展示样式】*******************/
.ForumType_Table {
    font-size:20px;
}

    .ForumType_Table tr, .ForumType_Table td {
        border-style:solid;
        border-width:1px;
    }

/**【单双行背景切换】**/
.MyTr1 {
    background-color:#eFFFFF;
}

.MyTr2 {
    /*background-color:#CCCCCC;*/
}

/***********BootstrapDIV布局*****************/
.MyForumDIV {
    margin:10px;
}

    .MyForumDIV .MyForumDIV_Head {/**首行***/
        padding-top:5px;
        padding-bottom:5px;
        font-size:25px;
        background-color:#EFF5F5;
    }

    .MyForumDIV .MyForum_Tr1 {/**数据行1***/
                               
        margin-top:5px;
        margin-bottom:5px;
        padding-top:5px;
        padding-bottom:5px;
        font-size:23px;
        background-color:white;

        /*margin:10px;*/
    }

    .MyForumDIV .MyForum_Tr2 {/**数据行2**/
        margin-top:5px;
        margin-bottom:5px;
        padding-top:5px;
        padding-bottom:5px;
        font-size:23px;
        /*background-color:#CCFFFF;*/
    }

    .MyForumDIV .MyForum_Tr1:hover,.MyForumDIV .MyForum_Tr2:hover {
        background-color:#F9F7F6;
    }

    /*分页导航样式*/
   .MyForum_PageNumber {
        /*width:100%;*/
        margin-top:10px;
        margin-bottom:10px;
        padding-bottom:10px;
        padding-top:5px;
        text-align:center;
        font-size:25px;

        /*background-color:#FFFF99;*/
        /*20170331修改*/
        background-color:#EFF5F5;
    }

   /*当前页的字体颜色*/
    .MyForum_PageNumber .currentPage {
        color:black;
    }


/*20170401修改快速查找样式*/
.mysearch .row .col-md-3 {
   /*border:1px solid #ff0000;*/
}


fieldset {
            padding:10px;
            /*width:270px;*/
            color:#333;
            border:2px solid gray;
            border-radius:6px;
            background-color:white;
        }

        legend {
            text-decoration:none;
            padding:5px 10px;
            width:auto;
            border:gray solid 1px;
            border-radius:6px;
            background-color:white;
            font-size:20px;
        }    


/*20170401修改类型图片显示*/
.img1 {
    border-right:2px solid #EFF5F5;
    border-bottom:2px solid #EFF5F5;
}

.img2 {
    border-bottom:2px solid #EFF5F5;
}

.img3 {
    border-left:2px solid #EFF5F5;
    border-bottom:2px solid #EFF5F5;
}

.img4 {
    border-right:2px solid #EFF5F5;
}

.img6 {
    border-left:2px solid #EFF5F5;
}

.spanHot {
    font-weight:bold;
    color:#d35555;
}

.selectpicker {
    font-size:14px;
    padding:10px;
    border-radius:6px;
    /*background-color:#ccc;*/
}

.showselected {
    margin-top:5px;
    width:80%;
    /*background-color:#5bc0de;*/
    /*background-color:#ec971f;*/
    background-color:#e6e6e6;
    border-radius:4px;
    /*padding:5px;*/
    /*color:white;*/
    text-align:center;
    font-size:14px;
    display:none;
}

.list_content {
    background-color:white;
    margin:30px 10px;
    padding:10px;
    font-size:20px;
    
}

    .list_content .row {
        line-height:100%;
    }

        .list_content .row:hover {
            background-color:#f9f7f6;
        }

        .list_content .row .col-md-4, .list_content .row .col-md-2 {
            padding:8px;
        }

        .list_content .row .col-md-3 {
            padding:8px;
            text-align:center;
        }


.dPageLink {
    padding:5px;
    text-align:center;
    font-size:24px;
    background-color:#eFFFFF;    

}

    .dPageLink .PageLink {
        background-color:yellow;
    }

    .dPageLink .currentPage {
        color:gray;
    }
    .dPageLink a {
       /*color:black;*/
    }

.MyForumDIV .col-md-2 {
    text-align:center;
}